<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="SyncDB" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=C:\Users\heapsa\Desktop\GitHub Repos\ProductDB\ProductDatabase.sdf;Max Database Size=1024" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>